@import url('https://fonts.googleapis.com/css2?family=Bahiana&family=Bahianita&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    }
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    text-align: center;
    font-family: Bahianita;
    
} 

#hero-msg h4 {
    text-align: center;
    
}
.button-box {
    text-align: center;
}
main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: #202020;
    font-family: Bahiana;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    text-align: center;
    background-color: black; opacity: 0.7;
    font-family: Bahiana;

}
nav a:hover {
    color: white;
    background-color: #d60848;
}
.book, .join {
    color: white;
    background-color: #202020;
    text-decoration: none;
    font-family: bahianita;
    font-size: 36px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
} 

.book:hover {
    color: white;
    background-color: #d60848;
} 
.join:hover {
    color: white;
    background-color: #d60848;
}
#background {
    background-color: #01917d;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: white;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #202020;
}
.home-title {
    color:  white;
    font-family: Bahiana;
    font-size: 4em;
    margin-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
h4 {
    color: white;
    font-family: Bahianita;
    font-size: 1.5em;
}
h2 {
    color: white;
    font-family: Bahianita;
    margin: 0;
}
.msg h2 {
    color: black;
    font-family: Bahianita;
}
.msg p {
    color: black;
    font-family: bahianita;
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 15px;
}
footer h3 {
    color: white;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
    padding: 25px 50px;
}
footer a:hover {
    color: white;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
    margin: 0 auto;
}
.card-img {
    width: 100%;
    border: 10px solid #202020;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.logo {
    width: 100px;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social {
    padding-top: 15px;
    margin: 0 auto;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

footer {
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* CSS for the subpage */

*
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#accordion {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 250px;
    margin-bottom: 250px;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.accordion-item {
    background-color: #01917d;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0.1);
}
.accordion-link {
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 1.4rem;
}
.accordion-link i {
    color: #d60848;
    padding: .5rem;
}
.accordion-link .ion-md-remove {
    display: none;
} 
.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #6f7364;
    transition: max-height 650ms;
}
.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #202020;
    top: 50%;
    left: 0;
    transform: translateY(-50%);    
}
.answer p {
    color: rgba(255,255,255,.8);
    padding: 2rem;
}
.accordion-item:target .answer {
    max-height: 20rem;
}
.accordion-item:target .accordion-link .ion-md-add {
    display: none;
}
.accordion-item:target .accordion-link .ion-md-remove {
    display: block;
}

/* CSS for the Contact Us site */
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    color: white;
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box; /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space between the labels and their text fields */
    margin-left: 0.5em;
}
#feedback {
    color: white;
    align-items: center;
    justify-content: center;
}

/* responsive code */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}