@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Lato:ital,wght@1,300;1,700&display=swap');
/* font-family: 'Flamenco', cursive;
font-family: 'Lato', sans-serif; */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
        width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    text-align: center;
    background-color: #413c58ff; opacity: 0.9;
    font-family: Flamenco;
    font-size: 1.2em;

}
nav a:hover {
    color: #413c58ff;
    background-color: #f2e7c9ff;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    margin-top: -110px;
    margin-bottom: 40px;
}

#hero-box {
    grid-column: 1/5;
    grid-row: 1/4;
    z-index: -1;
    
}
.button-box {
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
    margin: -20px;
}
#hero-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.contactme {
    color: white;
    background-color: #413c58ff;
    text-decoration: none;
    font-family: Lato;
    font-size: 25px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
} 
.contactme:hover {
    color: #413c58ff;
    background-color: #f2e7c9ff;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 0.5fr);
    grid-template-rows: repeat(6, 0.45fr);
    font-family: Lato;
    font-size: 1em;
    
}
main section{
    text-align: center;
}

main section img {
    box-sizing: border-box;
    margin: 0 auto;
}
#background {
    grid-column: 1/11;
    grid-row: 1/7;
    background-color: #a3c4bcff;
    padding-top: 50px;
}
.computer {
    height: 100%;
    grid-column: 3/10;
    grid-row: 1/3;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 100px;
}
.books {
    height: 100%;
    grid-column: 3/10;
    grid-row: 4/6;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 100px;
}
.msg2 {
    background-color: white;
    padding: 35px;
    grid-column: 2/6;
    grid-row: 5/6;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg1 {
    background-color: white;
    padding: 35px;
    grid-column: 2/6;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #413c58ff;
    font-family: Lato;
}
footer h3 {
    color: white;
    text-align: center;
}
footer a {
    color: white;
    text-decoration: none;
    padding: 25px 50px;
}
footer a:hover {
    color: white;
}
footer .social {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin: 0 auto;
}  
body {
    background-color: white;
    padding: 5px;
    font-family: Flamenco;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
.contact-me{
    padding: 5em;
    margin: 0 auto;
    width: 400px;
}

/* CSS for the Contact Us site */
form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    color: #413c58ff;
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: Flamenco;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box; /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space between the labels and their text fields */
    margin-left: 0.5em;
    font-family: Lato;
}
#feedback {
    color: white;
    align-items: center;
    justify-content: center;
}
/* responsive CSS */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    
    #background {
        display: none;
    }
    .books, .computer, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}