nav {
    text-align: center;
    background-color: steelblue;
    padding: 25px;
}
a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
    padding: 25px;
}
h1 {
    margin: 50px 0;
    text-align: center;
    color: steelblue;
  }
body {
    margin: 0;
  }
  img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 4px solid steelblue;
  }
  p {
    width: 80%;
    padding: 10px;
  }
  footer {
    padding: 25px;
    background-color: steelblue;
    color: white;
    text-align: center;
  }
  nav, footer {
    background-color: steelblue;
    color: white;
  }
  footer p {
    font-size: 20px;
    margin: 20px auto;
  }
  a:hover {
    background-color: white;
    color: steelblue;
  }
  .main-para {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
  }
  /* #active {
    background-color: white;
    color: steelblue;
  } */
